// Font face
@font-face
  font-family: 'ubuntu-regular'
  src: local('Ubuntu Regular')
  src: url('/static/fonts/ubuntu-regular.ttf') format('truetype')

@font-face
  font-family: 'ubuntu-medium'
  src: local('Ubuntu Medium')
  src: url('/static/fonts/ubuntu-medium.ttf') format('truetype')

// Images
$petz-small: '/static/images/logo-petz-small.png'
$petz-large: '/static/images/logo-petz-large.png'

// Media queries
$mobile-first: 1024px

// Colors
$primary-color: #00A0E4
$secondary-color: #FFD400
$text-color: #262626
$text-muted: #6E6E6E

// Icons (https://css.gg)
.gg-chevron-left
  box-sizing: border-box
  position: relative
  display: block
  transform: scale(var(--ggs,1))
  width: 22px
  height: 22px
  border: 2px solid transparent
  border-radius: 100px

  &::after
    content: ""
    display: block
    box-sizing: border-box
    position: absolute
    width: 10px
    height: 10px
    border-bottom: 2px solid
    border-left: 2px solid
    transform: rotate(45deg)
    left: 6px
    top: 4px

.gg-search
  box-sizing: border-box
  position: relative
  display: block
  transform: scale(var(--ggs,1))
  width: 16px
  height: 16px
  border: 2px solid
  border-radius: 100%
  margin-left: -4px
  margin-top: -4px

  &::after
    content: ""
    display: block
    box-sizing: border-box
    position: absolute
    border-radius: 3px
    width: 2px
    height: 8px
    background: currentColor
    transform: rotate(-45deg)
    top: 10px
    left: 12px